<h1><%= @user.name %></h1>

<p><%= @user.age %></p>
<p><%=@user.email %></p>
<p><%=@user.posts %></p>
<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", user_path(@user), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure for delete?"
                  } %></li>
</ul>
