<h1><%= @users.user_name %></h1>

<p><%= @users.user_age %></p>
<p><%=@users.email %></p>
<p><%=@users.posts %></p>
<ul>
  <li><%= link_to "Edit", edit_user_path(@users) %></li>
  <li><%= link_to "Destroy", user_path(@users), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure for delete?"
                  } %></li>
</ul>
