<%=form_with model: @post do |form| %>
<div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
</div>
<div>
    <%= form.label :post_type %><br>
    <%= form.text_area :post_type %>
</div> 

<div>
<%= form.label :image %>
<%= form.file_field :image %>
</div>

<div>
<%= form.label :video %>
<%= form.file_field :video %>
</div>

<div>
    <%= form.submit %>
</div>

<% end %>

