<h1>Users Post</h1>
<%= link_to "login",login_path %><br>
<li> <%= link_to "logout",logout_path %><br>

<%= link_to "New Post", new_post_path %></li>
Our blog has <%= @posts.count %> posts

<ul>
  <% @posts.each do |post| %>
    <li>
       <%= link_to post.author_user, post %><br>
      <%= post.body %><br>
      <%= post.post_type%><br>
    </li>
<% end %>
</ul>