<h1>Users Post</h1>
<html>
<head>
</head>
<body style="background-color:powderblue;">

<% if current_user = nil %>
<%= link_to "login",login_path %><br>
<% else current_user != nil %>

<h1 style="color:green;"> <%= @current_user.name %>  login successfully</h1>
<hr>
      <%= link_to "logout",logout_path , {class:"btn btn-secondary"} %>
<hr>

<hr>
  <%= link_to "New Post", new_post_path, {class:"btn btn-primary"} %>
<hr>

<%end%>

Our blog has <%= @posts.count %> posts
<style>
table{
  width:100%;
  text-align:center
}
</style>
<table class="table table-hover">
  <center><tr>
    <th>Sr.no.</th>

    <th>Name</th>

    <th>description</th>
    <th>type</th>
    <th>Action</th>
    <th>like</th>


  </tr></center>
  <tr>
  <% p=1 %>
  <% @posts.each do |post| %>
    <td><%= p %>
    </td>
    <%p+=1%>
    <td>
        <%= post.author_user %><br>
    </td>
    <td>
        <%= link_to post.body, post %><br>
    </td>

    <td>
      <%= post.post_type%><br>
    </td>
    <td>
    <pre>
    <% if post.user_id == @current_user.id %>
    <%= link_to "Edit", edit_post_path(post) %> || <%= link_to "Destroy", post_path(post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure for delete post?"
                  } %>
    </pre>
    </td>

<% end %>

<td>
<button type="button" onclick="like">Click Me!</button>
</td>
</tr>
<% end %>
</table>
</body>
</html>