<h1>Users Post</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
       <%= link_to post.author_user, post %><br>
      <%= post.body %><br>
      <%= post.post_type%><br>
    </li>
 <%
=begin%>
 <li><%= @user.name %></li> 
<%
=end%>
<% end %>
</ul>

<%
=begin%>
 <%= link_to "New Post", new_user_post_path %> 
<%
=end%>
