<h1>Users Post</h1>
<html>
<head>
</head>
<body style="background-color:powderblue;">

<% if current_user = nil %>
<%= link_to "login",login_path %><br>
<% else current_user != nil %>

<h4 style="color:green;"> Welcome! <%= @current_user.name %> </h4>
<%end%>

<p style="background-color:tomato;">Our blog has <%= @posts.count %> posts</p>
<style>
table{
  width:100%;
  text-align:center
}
</style>
<table class="table table-bordered border-primary">
  <center><tr>
    <th style="background-color:#FFFFE0">Title</th>
    <th style="background-color:#FFFFE0">Name</th>
    <th style="background-color:#FFFFE0">description</th>
    <th style="background-color:#FFFFE0">type</th>
    <th style="background-color:#FFFFE0">Action</th>

  </tr></center>
  <tr>
  <% p=1 %>
  <% @posts.each do |post| %>

    <td>
      <%= link_to post.title, post %>
    </td>
  
    <td>
      <%= post.author_user %><br>
    </td>

    <td>
      <%= link_to post.body, post %><br>
    </td>

    <td>
      <%= post.post_type%><br>
    </td>

    <td>
      <pre>
        <% if @current_user.role == 'admin' || post.user_id == @current_user.id %>
        
        <%= link_to "Edit", edit_post_path(post),{class:"btn btn-primary"} %> || <%= link_to "Destroy", post_path(post),class:"btn btn-primary",  data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure for delete post?"
                      } %>
      </pre>
    </td>
<% end %>
</tr>

<% end %>

</table>
</body>
</html>
