 <h1><%= @post.body %></h1> 
<p><%= @post.post_type %></p>
<p><%= @post.user_id %></p>
 <p><%= current_user.name %></p> 
 <%= image_tag event.image %>
 <%= image_tag video.video %>

 <% if @post.user_id == current_user.id %> 
 <li><%= link_to "Edit", edit_post_path %></li> 
  <li>
  <%= link_to "Destroy", post_path(@post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure for delete post?"
                  } %>
                  </li>
 <% end %>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

 <% if comment.user_id == current_user.id %> 
  <li><%= link_to "Edit", edit_post_comment_path(@post, comment) %></li>
   <%= link_to "Destroy Comment", post_comment_path(post_id:comment.post_id, id:comment.id), method: "delete" , data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
<% end %>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [@post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
